body {
	background-color: #FFFFCC;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	line-height: 1;
	height: 100%;
	width: 700px;
}

.header{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 20px;
	background-color: #FFFFCC;
	height: 100%;
	width: 700px;
}

#login_id{
	box-shadow: 4px 4px 8px #eaa764;
}

#loginPassword{
	box-shadow: 4px 4px 8px #eaa764;
}

#login_button{
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
	color: #ff8040;
	background: #FFFFCC;
	border: solid 1px #ff8040;
	border-radius: 3px;
	transition: .4s;
	width: 70px;
	height: 30px;
}

#search{
	font-weight: bold;
	padding: 0.25em 0.5em;
	color: #FFF;
	background: #ff9c39;
	border-radius: 3px;
	transition: .4s;
}

.posts{
	margin-right: 50px;
}

.comment{
	background-color: #FFFFCC;
}

#post_delete_button{
	margin-left: 300px;
	display: inline-block;
	padding: 0.01px 5px;
	border-radius: 25px;
	text-decoration: none;
	color: #FFF;
	background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	transition: .4s;
	width: 90px;
	height: 30px;
}

#new_comment_button{
	margin-left: 310px;
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
	color: #ff8040;
	background: #FFFFCC;
	border: solid 1px #ff8040;
	border-radius: 3px;
	transition: .4s;
	width: 70px;
	height: 30px;
}

#comment_delete_button{
	margin-left: 300px;
	display: inline-block;
	padding: 0.01px 5px;
	border-radius: 25px;
	text-decoration: none;
	color: #FFF;
	background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	transition: .4s;
	width: 90px;
	height: 30px;
}

.text {
	width: 500px;
	height: 200px;
}

.header {
	text-align: left;
}

.posts {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	height: 100%;
	width: 400px;
}

.posts .subject{
	font-weight: bold;
}

.posts .text {
	height: auto;
}

.posts .category{
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.posts .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.posts .name{
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.management-table{
	background: #FFFFCC;
}

table td{
	background: #ddfff2;
}

#edit_button{
	color: brack;
	padding: 0.2em 0.5em;
	border: dashed 1px #000000;
	border-radius: 3px;
	transition: .4s;
	background-color: #c0c0c0;
}

#stop_button{
	color: red;
	padding: 0.2em 0.5em;
	border: dashed 1px #ff00ff;
	border-radius: 3px;
	transition: .4s;
	background-color: #ffddf4;
}

#revival_button{
	color: blue;
	padding: 0.2em 0.5em;
	border: dashed 1px #0000ff;
	border-radius: 3px;
	transition: .4s;
	background-color: #c7eafe;
}

#change_button{
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
	color: #ff8040;
	background: #FFFFCC;
	border: solid 1px #ff8040;
	border-radius: 3px;
	transition: .4s;
}

#post_button{
	display: inline-block;
	padding: 0.5em 0.8em;
	text-decoration: none;
	color: #ff8040;
	background: #FFFFCC;
	border: solid 1px #ff8040;
	border-radius: 3px;
	transition: .4s;
}

.form-area{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #FFFFCC;
	line-height: 1;
	height: 100%;
	width: 550px;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;

}